
@{
    ViewBag.Title = "User Task ";
    ViewBag.TaskCratedBy = Convert.ToString(Session["UserId"]);
}


<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryUiCss")
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/jqueryui");
    @*<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>*@
    <script src="~/Scripts/common.js"></script>

    <style>
        /*div {
            float: left;
            width: 100%;
        }

        table {
            float: left;
            width: 100%;
        }

        thead {
            background-color: red;
            display: block;
            float: left;
            width: 98%;
        }

        tr {
            float: left;
            width: 100%;
        }

        th, td {
            float: left;
            text-align: center;
            width: 32.6% !important;
        }

        span {
            word-wrap: break-word;
        }*/
    </style>

</head>




<div class="panel panel-primary">
    <div class="panel-heading">
        User Task Management
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th style="text-align:right">Task Title:</th>
                <th>
                    <input type="text" id="taskTitle" />&nbsp;<font color="red">*</font>
                </th>
            </tr>
            <tr>
                <th style="text-align:right">Due Date:</th>

                <th>
                    <input type="text" id="taskDueDate" class="testdt" />&nbsp;<font color="red">*</font>
                </th>

            </tr>
            <tr>
                <th style="text-align:right">Assignee:</th>
                <th>
                    <select id="drassineUser">
                    </select>
                </th>
            </tr>

            <tr>
                <th style="text-align:right">Priority:</th>
                <th>
                    <select id="drPriority">
                        <option value="High">High</option>
                        <option value="Low">Low</option>
                        <option value="severe">severe</option>
                        <option value="Critical">Critical</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th style="text-align:right">Task Status:</th>
                <th>
                    <select id="drStatus">
                        <option value="Done">Done</option>
                        <option value="InProgress">In Progress</option>
                        <option value="Hold">Hold</option>
                        <option value="Pending">Pending</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th style="text-align:right">Comment:</th>
                <th>
                    <textarea id="taskComments" name="wtaskComments" cols="80" rows="10"></textarea>
                </th>
            </tr>

        </table>
    </div>
    <div class="panel-body">

        <table class="table table-bordered">
            <tr>
                <th colspan="2" style="text-align:center; padding-right:480px;"><button id="btnSubmit">Submit</button></th>
            </tr>
        </table>
    </div>
</div>
<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function () {

        getUserData();

        $j("#taskDueDate").datepicker({
            dateFormat: "mm/dd/yy",
            changemonth: true,
            changeyear: true
        });

        $("#btnSubmit").click(function () {
            if (isValidTaskUser()) {

                var taskTitle = $.trim($("#taskTitle").val());
                var dueDate = $.trim($("#taskDueDate").val());
                var comment = $.trim($("#taskComments").val());
            var assigneId = $('#drassineUser').find(":selected").val();
            var priority = $('#drPriority').find(":selected").val();
            var status = $('#drStatus').find(":selected").val();
            var createdTaskUser = '@ViewBag.TaskCratedBy' != "" ? '@ViewBag.TaskCratedBy' : 1;

                var userTaskData = {
                    TaskTitle: taskTitle,
                    DueDate: dueDate,
                    Comment: comment,
                    AssigneeId: assigneId,
                    CreatedBy: createdTaskUser,
                    TaskStatus: status,
                    TaskPriority: priority
                }

                var url = commonUtility.baseUrl + "AddUserTask";
                commonUtility.ajaxPostCall(url, userTaskData, successInsert);

            }

        });

        function successInsert(data) {
            window.location.href = "@Url.Action("Index", "UserTask")";
        }

        function getUserData() {

            var url = commonUtility.baseUrl + "Users";
            commonUtility.ajaxGetCall(url, setUserList);
        }


        function setUserList(data) {
            $.each(data, function () {
                $("#drassineUser").append($("<option     />").val(this.UserId).text(this.FirstName));
            });
        }



        function isValidTaskUser() {

            var isValidate = true;
            var taskTitle = $.trim($("#taskTitle").val());
            var dueDate = $.trim($("#taskDueDate").val());
            var userassined = $('#drassineUser').find(":selected").val();


            if (taskTitle.length == 0) {
                isValidate = false;
                alert("Please enter Task title.");
                return isValidate;

            }

            if (dueDate.length == 0) {
                isValidate = false;
                alert("Please selectDue Date.");
                return isValidate;

            }

            if (userassined.length == 0) {
                isValidate = false;
                alert("Please Select assigne User.");
                return isValidate;

            }
           

            return isValidate;

        }




    });
</script>