
@{
    Layout = null;
    ViewBag.userId = Convert.ToString(Session["UserId"]);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Tasks</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryUiCss")
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/jqueryui");


    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/common.js"></script>

</head>
<body>

    <div class="panel panel-primary">
        <div class="panel-heading">
            User Task
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td style="text-align:Left"><button id="btnAddRemainder">Add Remainder</button></td>
                    <td style="text-align:right"><button id="btnSubmit">Add Task</button></td>
                </tr>
                <tr>
                    <td>
                        .<label id="lblPending">Panding Task:<span id="spnPendingCnt"></span></label>
                        .<label id="lblPending">Completed Task:<span id="spnDoneCnt"></span></label>
                        <table id="userTaskGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>TaskId</th>
                                    <th>Task Title</th>
                                    <th>Assignee</th>
                                    <th>Priority</th>
                                    <th>Status</th>
                                    <th>Due date</th>

                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>

            </table>
        </div>

    </div>
</body>



</html>
<script>
   //var $j = jQuery.noConflict();
    $(document).ready(function () {
        var userId = '@ViewBag.userId' != "" ? '@ViewBag.userId' : 2;
        toastr.options.extendedTimeOut = 0;
        toastr.options.timeOut = 0;
        getUserData();
        displayUserNotifications();
        displayUserRemainder();
        setCount();
        var url = commonUtility.baseUrl + "GetUserTask?userId=" + userId;
        function getUserData(url) {

            var dataTables=$('#userTaskGrid').DataTable({
                "ajax": {
                    "url": "/UserTask/GetUserTask",
                    "type": "GET",
                    "datatype": "json"

                },
                "columns": [
                    {
                        "data": "TaskId",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "TaskTitle",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "FullName",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "TaskPriority",
                        "autoWidth": true,
                        "searchable": true
                    },
                    {
                        "data": "TaskStatus",
                        "autoWidth": true,
                        "searchable": true
                    },

                    {
                        "data": "DueDate",
                        "autoWidth": true,
                        "searchable": true,
                        "type": 'datetime',
                        "displayFormat": 'M/D/YYYY',
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;//date format from server side
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));

                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                        }
                    }
                ]

            });
        }

        function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }

        function displayUserNotifications() {

            var val = decodeEntities('@ViewBag.notifications');

            var notificationData = JSON.parse(val);
           // toastr({ settings: { 'timeout': 5000 } });
            $.each(notificationData, function (key, value) {
                toastr.error(value.NotificationMessage)
                }
           );
        }
        function displayUserRemainder() {

            var val = decodeEntities('@ViewBag.userRemainder');
            var remainders = JSON.parse(val);
            //toastr.optionsOverride = 'positionclass = "toast-bottom-full-width"';


             $.each(remainders, function (key, value) {
                //toastr.warning(value.NotificationMessage)
                 toastr.info('Warning', value.NotificationMessage, {
                     //positionClass: 'toast-bottom-full-width',
                     //showDuration: 30000,


                 })

               }
           );
        }


        $("#btnSubmit").click(function () {

            window.location.href = "@Url.Action("AdUserTask", "UserTask")";
        });
        $("#btnAddRemainder").click(function () {

            window.location.href = "@Url.Action("Index", "UserRemainder")";
        });

        function setCount() {
            $("#spnPendingCnt").text('@ViewBag.TotalPending');
            $("#spnDoneCnt").text('@ViewBag.TotalDone');
        }


    });
</script>
